PANDAS

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"C:\Users\razhd\OneDrive\Desktop\DATA ANALYST - HUJI 2022\Module 3 - Python\Lecture 4\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])
oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [3]:
oil_series = pd.Series(oil_array, name="Oil")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: Oil, Length: 100, dtype: float64

In [4]:
np.mean(oil_series.values)

51.128299999999996

In [5]:
oil_series.astype('int64').values.mean()

50.66

Assignment 2: Accessing Series Data
Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.
Then, take the mean of the first 10 and last 10 prices of the series.
Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [6]:
dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [7]:
oil_series = pd.Series(oil_array, index=dates, name="Oil")
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil, Length: 100, dtype: float64

In [8]:
#mean of first and last 10 values

print(oil_series.iloc[:10].mean())
print(oil_series.iloc[-10:].mean())

52.765
47.129999999999995

In [9]:
#slicing specific date range and resetting index to integers.
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: Oil, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [10]:
#Returns 10 lowest prices

oil_series.nsmallest(10)

date
2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: Oil, dtype: float64

In [11]:
#returns 10 lowest prices and sorts them from the most recent to the oldest

oil_series.nsmallest(10).sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil, dtype: float64

In [12]:
#returns only rows where price is lower than 50$ a barrel.

oil_series[oil_series.le(50)]

date
2017-03-08    49.83
2017-03-09    48.75
2017-03-10    48.05
2017-03-13    47.95
2017-03-14    47.24
2017-03-15    48.34
2017-03-16    48.30
2017-03-17    48.34
2017-03-20    47.79
2017-03-21    47.02
2017-03-22    47.29
2017-03-23    47.00
2017-03-24    47.30
2017-03-27    47.02
2017-03-28    48.36
2017-03-29    49.47
2017-04-21    49.64
2017-04-24    48.90
2017-04-25    49.22
2017-04-26    49.22
2017-04-27    48.96
2017-04-28    49.31
2017-05-01    48.83
2017-05-02    47.65
2017-05-03    47.79
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil, dtype: float64

# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [13]:
oil_series.mul(1.1).add(2)

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil, Length: 100, dtype: float64

In [14]:
max_price = oil_series.max()
max_price

54.48

In [15]:
oil_series.subtract(max_price).abs()

date
2016-12-20    2.26
2016-12-21    3.04
2016-12-22    2.50
2016-12-23    2.47
2016-12-27    1.66
              ...
2017-05-09    8.64
2017-05-10    7.20
2017-05-11    6.67
2017-05-12    6.65
2017-05-15    5.62
Name: Oil, Length: 100, dtype: float64

In [16]:
oil_month = oil["date"].str.slice(5,7).astype(int)
oil_month

1       1
2       1
3       1
4       1
5       1
       ..
1213    8
1214    8
1215    8
1216    8
1217    8
Name: date, Length: 1175, dtype: int32

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [17]:
#returns sum of all prices from March.

oil_month[oil_month.eq(3)].sum()

324

In [18]:
#returns mean of all prices from March.

oil_month[oil_month.eq(3)].mean()

3.0

In [19]:
#returns number of prices that were recoreded in Jan and Feb.

oil_month[oil_month.eq(1)|oil_month.eq(2)].count()

197

In [20]:
# returns 10 and 90 percentile

oil_series.quantile(0.1)

47.299

In [21]:
# oil_series.quantile(0.9)

Assignment 6: Missing Data
There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column?

Once you’ve done that, fill the prices in with the median of the oil price series.

In [22]:
oil_series = oil_series.where(~oil_series.isin([51.44,47.83]),pd.NA)
oil_series.isna().sum()

oil_series = oil_series.fillna(oil_series.median())

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [23]:
oil_series.quantile(0.9)

53.811

In [24]:
oil_where = np.where(oil_series < oil_series.quantile(0.9), "buy", "wait")
# oil_wherepd = pd.Series(oil_where, index=dates)
oil_where

array(['buy', 'buy', 'buy', 'buy', 'buy', 'wait', 'buy', 'buy', 'buy',
       'buy', 'buy', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'wait',
       'buy', 'buy', 'buy', 'buy', 'buy', 'wait', 'buy', 'wait', 'wait',
       'wait', 'wait', 'wait', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy', 'buy',
       'buy'], dtype='<U4')

In [25]:
pd.Series(
np.where(oil_series.index.isin(["2016-12-23","2017-05-10"]),
    oil_series*0.9, 
    oil_series*1.1),index=dates
)

date
2016-12-20    57.4420
2016-12-21    57.4255
2016-12-22    57.1780
2016-12-23    46.8090
2016-12-27    58.1020
               ...
2017-05-09    50.4240
2017-05-10    42.5520
2017-05-11    52.5910
2017-05-12    57.4255
2017-05-15    53.7460
Length: 100, dtype: float64

PANDAS 101 EXERCISE

In [26]:
# 1
import pandas as pd

print(pd.__version__)

1.4.4

In [27]:
#2
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
ser3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [28]:
# Q3
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [29]:
ser = pd.DataFrame(ser)
ser.
ser.head()

SyntaxError: invalid syntax (94473700.py, line 2)

In [ ]:
# Q4
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

serDF = pd.DataFrame({'col1':ser1,'col2':ser2})
serDF.info()
serDF.head()

In [ ]:
# Q5
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser = pd.Series(ser, name="alphabets")
ser.info()

# alt:
# ser.name = "alphabets"

In [ ]:
# Q6
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

mask = ser1.isin(ser2)
ser1.loc[~mask]

In [ ]:
# Q7
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

mask1 = ~ser1.isin(ser2)
mask2 = ~ser2.isin(ser1)

ser3 = pd.concat([ser1[mask1], ser2[mask2]])
ser3

In [ ]:
# Q8
ser = pd.Series(np.random.normal(10, 5, 25))
ser.describe()

In [ ]:
# Q9
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# Solution
ser.value_counts()

In [ ]:
# Q10
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser[~ser.isin(ser.value_counts().index[:2])] = "Other"
ser

In [ ]:
# Q11
ser = pd.Series(np.random.random(20))
# the following divides the series into 10 equal-width bins.
bins = pd.cut(ser, bins=10,labels=["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th"])
bins.head()

#alt
# binsq = pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
#         labels=["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th"])
# binsq.head()

In [ ]:
# Q12
ser = pd.Series(np.random.randint(1, 10, 35))
serDF = pd.DataFrame(ser.values.reshape(7,5))
serDF

In [ ]:
# Q13
ser = pd.Series(np.random.randint(1, 10, 7))
ser.loc[ser % 3 == 0]

In [ ]:
# Q14
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.iloc[pos]

In [37]:
# Q15
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

#horizontally
pd.concat([ser1, ser2], axis=1)

#vertically
# pd.concat([ser1, ser2], axis=0) #can also omit axis since 0 is default.

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [47]:
# Q16
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [50]:
# Q17
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = np.square(truth - pred).mean()
print(mse)

# alt
mse = np.mean((truth-pred)**2)
print(mse)

0.40732756335289977

In [52]:
# Q18
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object